npm config set registry https://gitea.apps.cluster-tl5tr.tl5tr.sandbox721.opentlc.com/api/packages/breda/npm/ 
npm config set -- '//gitea.apps.cluster-tl5tr.tl5tr.sandbox721.opentlc.com/api/packages/breda/npm/:_authToken="02811766fc70e5c4382d2eb3b5eed24617174001" 
